<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  *ngIf="coin"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ coin.symbol }} - {{ coin.name }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Classemant {{ coin.rank }}</p>
        <p>Offre actuelle : {{ coin.supply | number : "1.0-0" }}</p>
        <p>Prix actuel : {{ coin.priceUsd | number : "1.0-0" }}</p>
        <p *ngIf="coin.maxSupply !== null">
          Offre Max : {{ coin.maxSupply | number : "1.0-0" }}
        </p>
        <p *ngIf="coin.maxSupply === null" class="alert">Pas d'offre max</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
